body {
  font-family: "Changa", sans-serif;
}
.App {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border: 1px red solid;
}
.main-content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}
.main-content > div {
  height: 200px;
}
.header {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.header > h1 {
  display: flex;
  justify-content: center;
}
.header > input {
  width: 100px;
}
.header > button {
  width: 100px;
}
