html {
    font-family: 'Changa', sans-serif;
    margin: 0;
}
body {
    font-family: 'Changa', sans-serif;
    margin: 0;
}
.App {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #cfcfcf;
}
.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
    font-family: 'Changa', sans-serif;
}
.main-content > div {
    height: 250px;
}
.header > input {
    width: 150px;
    border: 2px solid black;
    background-color: #d3c4c1;
    border-radius: 4px;
    margin: 40px;
    font-family: 'Changa', sans-serif;
}
.header > button {
    border: 2px solid black;
    background-color: rgb(6, 70, 99);
    color: rgb(239, 247, 225);
    border-radius: 4px;
    font-family: 'Changa', sans-serif;
    width: 100px;
}
.header > button:hover {
    background-color: rgb(162, 208, 193);
    color: black;
}
