.medianContent {
    display: flex;
    flex-direction: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    border-left: 1px black solid;
    border-right: 1px black solid;
    background: #ecb365;
}
.medianContent > div {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
}
.medianContent > div > * {
    display: flex;
    align-items: center;
    font-size: 13px;
}
.medianContent > div > img {
    display: flex;
    align-self: center;
    height: 32px;
    width: 32px;
}
.medianContent > div > h6 {
    margin: 0px;
}
