.header > h1 {
  display: flex;
  justify-content: center;
}
.main-content {
  display: flex;
  justify-content: center;
}
.wheatherCard {
  display: flex;
  flex-wrap: wrap;
  border: 1px red solid;
  width: 400px;
  height: 300px;
}
.wheatherState {
  display: flex;
  width: 100%;
  border: red solid 1px;
}
.metrics {
  display: flex;
  width: 70%;
  height: 70px;
}
.cityData {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 30%;
  height: 70px;
}
.cityData > h3 {
  display: flex;
  width: 100%;
}
.cityData > h4 {
  width: 100%;
}
